<!-- form register using form group -->
<div class="mx-auto p-6 max-w-5xl">
  <!-- Form tambah user -->
  <div class="bg-white shadow mb-5 p-5 rounded-xl">
    <h1 class="mb-6 font-semibold text-2xl">Manajemen User</h1>
    <form
      (ngSubmit)="registerUser()"
      [formGroup]="newUser"
      class="gap-4 grid grid-cols-2 mb-8"
    >
      <div>
        <label class="block mb-1 font-medium text-sm">Nama Lengkap</label>
        <input
          type="text"
          formControlName="fullname"
          name="fullname"
          required
          class="px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-200 w-full"
        />
      </div>

      <div>
        <label class="block mb-1 font-medium text-sm">Username</label>
        <input
          type="text"
          formControlName="username"
          name="username"
          required
          class="px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-200 w-full"
        />
      </div>

      <div>
        <label class="block mb-1 font-medium text-sm">Email</label>
        <input
          type="email"
          formControlName="email"
          name="email"
          required
          class="px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-200 w-full"
        />
      </div>

      <div>
        <label class="block mb-1 font-medium text-sm">Password</label>
        <input
          type="password"
          formControlName="password"
          name="password"
          required
          class="px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-200 w-full"
        />
      </div>

      <div>
        <label class="block mb-1 font-medium text-sm">Role</label>
        <select
          formControlName="role"
          name="role"
          required
          class="px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-200 w-full"
        >
          <option value="" disabled selected>Pilih Role</option>
          <option value="admin">Admin</option>
          <option value="staff">Staff</option>
          <option value="viewer">Viewer</option>
        </select>
      </div>

      <button
        type="submit"
        [disabled]="loading"
        class="col-span-2 bg-blue-900 hover:bg-blue-700 py-2 rounded-lg text-white transition"
      >
        {{ loading ? 'Menyimpan...' : 'Tambah User' }}
      </button>
    </form>
  </div>
</div>
