<main class="md:pl-72">
  <div
    class="top-3 bottom-3 left-3 fixed bg-blue-900 p-5 rounded-4xl w-3xs text-white"
  >
    <div>
      <div>
        <img src="" alt="" />
      </div>
      <h2>{{ user.fullname }}</h2>
      <h3>{{ user.email }}</h3>
      <h3>As {{ user.role }}</h3>
    </div>
    <div class="mt-2 pt-3 border-white border-t">
      <ul class="*:py-1.5 *:border-b *:cursor-pointer">
        <li (click)="this.router.navigate(['/dashboard'])">Dashboard</li>
        <li (click)="this.router.navigate(['/products'])">Products</li>
        <li (click)="this.router.navigate(['/suppliers'])">Suppliers</li>
        <li>
          Transaction
          <div class="ml-5">
            <li (click)="this.router.navigate(['/transactions/incoming'])">
              Incoming
            </li>
            <li (click)="this.router.navigate(['/transactions/outgoing'])">
              Outgoing
            </li>
          </div>
        </li>
        @if(user.role == "admin"){
        <li (click)="this.router.navigate(['/users'])">Users</li>
        }
        <li (click)="this.onLogout()">Logout</li>
      </ul>
    </div>
  </div>
  <router-outlet />
</main>
